@font-face {
  font-family: "Roboto.ttf";
  src: url("fonts/Roboto.ttf");
}

@font-face {
  font-family: "Shrikhand.ttf"; /* Définition d'une nouvelle police nommée Shrikhand */
  src: url("fonts/Shrikhand.ttf");
}

html {
  /* Définition des variables couleur */
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
}

body {
  font-family: "Roboto.ttf";
  margin: 0;
}

h1 {
  font-family: "Shrikhand.ttf";
  font-size: 1.7em;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* <Partie HEADER> */
header {
  overflow: hidden;
}
/* <div class="back-logo"> */
.back-logo {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  align-items: center;
}

.back-logo a {
  font-size: 20px;
  position: absolute;
  left: 1em;
}
/* </div class="back-logo"> */

.photo_restau {
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 500;
}

.photo_enchantee {
  object-fit: cover;
  height: 15.5em;
  width: 100%;
  position: relative;
  z-index: 500;
}
/* </Partie HEADER> */

/* <article class="menu"> */
.menu {
  background-color: #f6f6f6;
  position: relative;
  z-index: 1000;
  margin-top: -3em;
  border-radius: 2.5em 2.5em 0 0;
  padding: 1em 0.5em 4em 0.5em;
}

h1 a {
  position: absolute;
  right: 1em;
}

h2 {
  font-size: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

h2 span {
  border-bottom: solid 2px var(--tertiary);
  padding-bottom: 0.3em;
}

/* <div class="choix"> */
.choix {
  background-color: white;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #e6e6e6;
  border-radius: 1em 1em 1em 1em;
  padding-top: 0.2em;
  padding-left: 1em;
  margin-bottom: 1.5em;
}

.choix i {
  display: none;
}

.choix h3 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: inherit;
  margin-top: inherit;
  padding-top: 0.5em;
}

/* <div class="choix_texte"> */
.choix_texte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.8em;
  font-size: 0.9em;
}

.prix {
  font-weight: bold;
  margin-right: 1em;
}
/* </div class="choix"> */
/* </div class="choix_texte"> */

/* <div class="commande"> */
.commande {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.menu button {
  font-weight: bold;
  border-radius: 2em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em #e6e6e6;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  color: white;
  background: -linear-gradient(top, var(--secondary), var(--primary));
  background: linear-gradient(to bottom, var(--secondary), var(--primary));
  border: inherit;
  cursor: pointer;
}
/* </div class="commande"> */
/* </article class="menu"> */

/* <Partie FOOTER> */

footer h3 {
  font-family: "Shrikhand.ttf";
  color: white;
}

footer {
  background-color: #353535;
  padding: 1em 0em 2em 1em;
}

footer a {
  color: white;
}

footer i {
  margin-right: 0.5em;
  color: white;
}

.mains {
  margin-right: 0.1em;
}
/* </Partie FOOTER> */
